%h2 New Featured Photograph
%p Here you can upload a new photograph that will be displayed on the home page as a featured photograph.
%p The file should be a JPG with dimensions: 800px by 533px

= render :partial => "form"
