body {
  font-family: "Century Gothic", Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px; }

a {
  text-decoration: none; }

p {
  font-size: 12px; }

":focus" {
  border: 0; }

#content-nav a, h3, #gallery-nav a {
  text-transform: uppercase; }

#footer {
  font-size: 12px; }

#return-to-top {
  text-transform: lowercase; }

.text-content h1 {
  font-size: 1.5em;
  text-transform: uppercase; }
.text-content h2 {
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 3px; }
.text-content label {
  width: 30%;
  float: left;
  text-transform: uppercase;
  font-size: 12px; }
.text-content input, .text-content textarea {
  width: 60%; }
.text-content label, .text-content input, .text-content textarea {
  font-weight: normal;
  margin: 5px 0;
  padding: 5px 0; }
.text-content textarea {
  height: 80px; }
.text-content input[type=submit] {
  margin-left: 30%; }
.text-content blockquote {
  padding: 20px;
  background: #f9f9f9;
  color: #333333;
  font-size: 11px; }
.text-content cite {
  display: block;
  margin: 1em 0 0 0;
  text-align: right;
  width: auto;
  color: #333333;
  font-size: 11px;
  font-style: italic; }
  .text-content cite:before {
    content: "· "; }
.text-content dl {
  padding: 10px;
  background: #f9f9f9;
  line-height: 2em;
  overflow: auto;
  margin: 1em 0;
  font-size: 11px; }
  .text-content dl dt {
    float: left;
    clear: left;
    width: 30%; }
