#page-about.text-wrap
  .text-content
    .image-wrap
      = image_tag 'nicole_bw_sm.jpg'
    .about-nicole
      %h1 About Nicole
      %p Coming from a family of artists Nicole was destined to become one herself. In high school, she began taking black and white photography courses, as well as assisting for a local wedding photographer. By the time she went to college, she was shooting as a documentary style second photographer. Over the years, her love for the art grew and she has developed her own personal style, one that is certainly different from the normal wedding photographer. Twelve years of experience in this field gives her the technical knowledge she needs to make her visions a reality. Her adaptability, artistic vision, and style certainly seem to set her work apart from the crowd. She has a laid back personality that allows people to be themselves and still have a good time, because that's what this day is truly all about.

      %h2 My personal philosophy and challenge:

      %p Every person is beautiful in their own way. Sometimes what makes a person beautiful is not the obvious things that one would notice at a glance. I make it my goal to find what makes each person beautiful, whether it be a personality trait, a mannerism, or simply a smile and then capture that beauty in my images. I don't need a beautiful background or an elaborate setting to create a beautiful image; just the opportunity to get to know my subjects. 

      %p Thank you!, <br />Nicole
